/* body 
 
 body > :not(.pace),body:before,body:after {
  -webkit-transition:opacity .4s ease-in-out;
  -moz-transition:opacity .4s ease-in-out;
  -o-transition:opacity .4s ease-in-out;
  -ms-transition:opacity .4s ease-in-out;
  transition:opacity .4s ease-in-out
}

body:not(.pace-done) > :not(.pace),body:not(.pace-done):before,body:not(.pace-done):after {
  opacity:0
}

.pace-running > :not(.pace) {
  opacity: 0;
}

.pace-done > :not(.pace) {
  opacity: 1;
  transition: opacity .5s ease;
}

*/
/* pace */

.pace.pace-inactive {
  display: none;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  height: 60px;
  width: 100px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace .pace-progress {
  z-index: 2000;
  position: absolute;
  height: 60px;
  width: 100px;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:before {
  content: attr(data-progress-text);
  text-align: center;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: 100;
  line-height: 30px;
  width: 100%;
  margin: 27px 0 0 44px;
  display: block;
  z-index: 999;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%0A%3Csvg%20width%3D%2260%22%20height%3D%2242%22%20viewBox%3D%220%200%2060%2042%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M24.974%204.593c1.934-2.015%204.626-3.265%207.604-3.265%203.958%200%207.41%202.207%209.25%205.484%201.6-.714%203.367-1.112%205.23-1.112%207.138%200%2012.925%205.84%2012.925%2013.04%200%207.203-5.787%2013.04-12.926%2013.04-.872%200-1.724-.086-2.547-.252-1.62%202.888-4.706%204.84-8.248%204.84-1.482%200-2.885-.342-4.134-.952-1.64%203.862-5.467%206.57-9.924%206.57-4.643%200-8.6-2.937-10.118-7.057-.664.14-1.352.213-2.057.213C4.5%2035.143.02%2030.616.02%2025.03c0-3.742%202.014-7.01%205.006-8.76-.616-1.416-.958-2.98-.958-4.624%200-6.423%205.214-11.63%2011.646-11.63%203.776%200%207.132%201.795%209.26%204.577%22%20fill%3D%22%2300A1E0%22%2F%3E%3Cpath%20d%3D%22M12.853%2020.1c-.07-.172-.163-.32-.277-.442-.114-.12-.25-.224-.41-.305-.154-.078-.32-.148-.49-.205l-.47-.16c-.124-.04-.243-.084-.353-.126-.104-.04-.2-.09-.28-.148-.078-.055-.14-.122-.185-.2-.044-.076-.067-.17-.067-.28%200-.21.09-.353.27-.436.194-.088.42-.133.673-.133.242%200%20.472.026.683.078.212.052.398.107.553.163l.048.018.022-.048c.058-.122.107-.257.147-.402.04-.145.067-.29.082-.435l.003-.046-.042-.015c-.2-.073-.437-.136-.704-.19-.268-.053-.546-.08-.825-.08-.676%200-1.198.147-1.55.438-.357.294-.537.695-.537%201.193%200%20.377.11.68.324.903.21.218.55.415%201.01.588l.375.14c.132.042.258.086.374.132.112.044.212.097.296.158.082.058.148.13.196.216.048.082.073.19.073.322%200%20.115-.03.22-.09.314-.064.096-.148.178-.25.244-.104.067-.23.118-.37.15-.345.084-.744.062-1.13-.015-.225-.044-.435-.106-.622-.182l-.053-.022-.022.054c-.057.14-.11.288-.156.435-.047.148-.078.297-.092.442L9%2022.262l.043.015c.22.078.463.142.72.19.26.045.563.07.905.07.337%200%20.65-.045.93-.132.283-.087.527-.21.727-.366.2-.158.358-.35.468-.573.11-.223.166-.474.166-.744%200-.24-.037-.45-.107-.622M17.358%2017.208c-.378-.33-.934-.498-1.654-.498-.27%200-.557.02-.85.064-.29.043-.645.123-.888.202l-.04.013v.04c0%20.335.07.627.21.87l.023.04.043-.015c.203-.062.495-.132.708-.17.213-.04.444-.058.687-.058.39%200%20.69.078.89.232.197.15.297.43.297.826v.136c-.088-.01-.19-.02-.305-.03-.148-.01-.337-.015-.564-.015-.308%200-.607.038-.887.114-.282.077-.535.194-.753.35-.22.157-.395.357-.522.594-.128.238-.193.517-.193.83%200%20.32.055.596.165.823.11.227.268.417.47.563.2.146.465.285.748.363.297.082.59.1.94.073.273-.02.655-.09.913-.374%200%200%20.052.31.16.34.102.03.276.034.438.034.41%200%20.535-.113.535-.113v-3.645c0-.722-.192-1.257-.572-1.59m-.574%202.63v1.097c-.106.198-.338.428-.52.5-.283.114-.473.145-.79.114-.132-.015-.255-.052-.365-.112-.11-.058-.2-.145-.273-.257-.07-.11-.107-.267-.107-.467%200-.317.105-.545.32-.698.22-.155.547-.234.973-.234.11%200%20.248.008.41.022.136.012.254.024.35.036M26.008%2018.265c-.1-.314-.252-.59-.447-.817-.195-.23-.44-.41-.732-.542-.29-.13-.63-.196-1.012-.196-.446%200-.84.078-1.168.234-.33.155-.606.368-.823.632-.217.264-.38.58-.484.935-.102.356-.155.742-.155%201.15%200%20.415.054.802.162%201.15.11.35.283.658.518.914.235.258.537.46.9.6.358.14.794.212%201.296.212.342%200%20.658-.026.94-.076.285-.05.55-.127.785-.227l.037-.016-.002-.04c-.008-.15-.03-.307-.066-.462-.036-.157-.085-.292-.143-.402l-.023-.045-.048.02c-.446.172-.922.26-1.416.26-.556%200-.98-.134-1.263-.4-.27-.254-.42-.66-.442-1.207h3.705l.005-.052c.007-.078.014-.172.02-.283.008-.112.012-.22.012-.317%200-.366-.05-.71-.152-1.023m-2.224-.6c.21%200%20.392.04.543.116.15.078.277.182.374.31.1.128.175.28.225.453.047.158.072.324.077.496h-2.568c.054-.425.188-.76.4-1%20.217-.25.537-.375.95-.375M30.51%2020.1c-.07-.172-.163-.32-.277-.442-.114-.12-.25-.224-.41-.305-.153-.078-.32-.148-.49-.205l-.47-.16c-.124-.04-.243-.084-.352-.126-.104-.04-.198-.09-.28-.148-.077-.055-.14-.122-.185-.2-.044-.076-.067-.17-.067-.28%200-.21.09-.353.27-.436.194-.088.42-.133.673-.133.243%200%20.472.026.683.078.212.052.398.107.553.163l.05.018.022-.048c.057-.122.107-.257.147-.402.04-.144.067-.29.08-.435l.006-.046-.042-.015c-.2-.073-.438-.136-.704-.19-.27-.053-.546-.08-.825-.08-.678%200-1.2.147-1.553.438-.357.294-.537.695-.537%201.193%200%20.377.11.68.324.903.21.218.55.415%201.01.588l.376.14c.132.042.258.086.373.132.113.044.212.097.296.158.08.058.147.13.196.216.048.082.072.19.072.322%200%20.115-.03.22-.092.314-.063.096-.146.178-.25.244-.103.067-.227.118-.37.15-.344.084-.743.062-1.128-.015-.226-.044-.435-.106-.622-.182l-.054-.022-.02.054c-.058.14-.11.287-.157.435-.047.148-.08.297-.093.442l-.004.045.042.015c.22.078.464.142.722.19.257.045.56.07.903.07.338%200%20.65-.045.932-.132.282-.087.526-.21.725-.366.2-.158.36-.35.468-.573.11-.223.166-.474.166-.744%200-.24-.036-.45-.105-.622%22%20fill%3D%22%23FFF%22%2F%3E%3Cpath%20d%3D%22M35.425%2014.52c-.115-.034-.242-.065-.38-.09-.137-.026-.302-.04-.488-.04-.65%200-1.164.186-1.524.55-.358.362-.6.912-.723%201.637l-.045.26h-.875l-.014.038c-.058.16-.096.308-.114.443-.018.134-.027.274-.027.417v.058h.87L31.3%2022.31c-.064.362-.136.66-.216.888-.08.224-.168.4-.263.52-.09.12-.197.198-.317.237-.124.04-.267.06-.423.06-.087%200-.175-.008-.26-.025-.085-.017-.162-.04-.23-.066l-.046-.02-.025.046c-.073.13-.132.264-.176.398-.042.132-.08.283-.108.45l-.008.045.043.017c.11.044.24.08.385.105.145.025.3.038.457.038.33%200%20.625-.046.876-.137.252-.09.476-.243.666-.45.188-.207.347-.48.474-.812.124-.328.23-.736.316-1.212l.81-4.6h1.3l.014-.037c.058-.16.097-.306.115-.438.018-.13.027-.272.027-.422v-.058h-1.29c.005-.026.01-.052.013-.077.007-.043.017-.09.032-.143.042-.25.098-.458.167-.62.067-.158.147-.284.237-.375.088-.09.19-.152.3-.188.115-.037.245-.056.387-.056.108%200%20.204.01.284.03.083.02.163.046.24.073l.047.018.023-.044c.072-.136.132-.27.18-.395.046-.127.09-.285.134-.47l.012-.052-.05-.017M39.757%2018.484c-.105-.353-.268-.665-.484-.924-.217-.26-.492-.47-.818-.622-.325-.15-.71-.228-1.14-.228-.432%200-.816.077-1.142.228-.325.152-.6.36-.817.622-.217.26-.38.57-.484.924-.104.35-.157.736-.157%201.144%200%20.408.053.793.157%201.143.104.354.267.666.484.926.217.26.493.468.818.616.325.148.71.224%201.14.224.432%200%20.816-.076%201.14-.224.326-.148.6-.355.82-.616.215-.26.378-.57.483-.925.104-.35.157-.735.157-1.142%200-.407-.053-.792-.157-1.144m-1.065%201.144c0%20.617-.115%201.103-.34%201.446-.226.34-.565.506-1.038.506-.473%200-.81-.165-1.03-.505-.224-.343-.337-.83-.337-1.447%200-.617.113-1.1.336-1.44.22-.338.558-.502%201.03-.502.474%200%20.813.164%201.038.5.228.34.342.825.342%201.442M43.67%2017.08c-.007-.072-.006-.104-.02-.17l-.01-.038-.037-.006c-.045-.007-.098-.013-.16-.017-.48-.028-.865.03-1.175.213-.218.13-.435.263-.572.45v-.284c-.005-.18-.007-.247-.023-.383l-.036-.008c-.066-.016-.14-.027-.22-.034-.162-.015-.322-.015-.468%200-.074.007-.15.018-.23.032l-.046.01v5.55l.048.01c.086.014.18.025.276.032.1.007.186.01.265.01.077%200%20.166-.003.265-.01.096-.007.186-.018.266-.033l.048-.008v-2.76c0-.362.04-.66.118-.886.08-.224.185-.403.316-.53.13-.13.28-.22.444-.27.168-.05.347-.076.532-.076h.143c.055%200%20.11.006.162.02l.06.014.01-.06c.014-.087.027-.177.038-.27.01-.094.016-.186.016-.272%200-.078-.002-.155-.01-.23M48.245%2022.23c-.007-.16-.033-.317-.076-.47-.044-.152-.096-.28-.155-.385l-.025-.042-.046.017c-.18.07-.36.12-.536.146-.176.028-.372.042-.58.042-.514%200-.923-.154-1.215-.456-.293-.303-.44-.792-.44-1.454%200-.58.13-1.052.392-1.4.257-.346.653-.52%201.177-.52.438%200%20.832.06%201.172.177l.05.017.02-.047c.06-.124.105-.27.138-.433.033-.162.05-.307.05-.43v-.04l-.038-.015c-.208-.08-.43-.137-.66-.174-.23-.035-.497-.053-.796-.053-.446%200-.844.076-1.183.228-.34.152-.626.36-.854.62-.227.26-.4.572-.516.925-.115.35-.173.736-.173%201.145%200%20.883.24%201.595.707%202.117.47.525%201.175.79%202.095.79.544%200%201.034-.083%201.457-.248l.037-.015-.002-.04M53.29%2018.265c-.102-.314-.252-.59-.448-.817-.195-.23-.442-.41-.732-.542-.29-.13-.63-.196-1.013-.196-.446%200-.84.078-1.167.234-.33.155-.606.368-.823.632-.217.264-.38.58-.484.935-.104.356-.157.742-.157%201.15%200%20.415.055.802.162%201.15.11.35.283.658.518.914.235.258.537.46.9.6.36.14.795.212%201.296.212.34%200%20.658-.026.94-.076.284-.05.548-.127.784-.227l.037-.016-.002-.04c-.007-.15-.028-.307-.064-.462-.037-.157-.085-.292-.144-.402l-.024-.045-.048.02c-.444.172-.92.26-1.414.26-.557%200-.982-.134-1.264-.4-.27-.254-.42-.66-.442-1.207h3.705l.004-.052.02-.283c.008-.112.01-.22.01-.317%200-.366-.05-.71-.15-1.023m-2.224-.6c.21%200%20.39.04.542.116.15.078.277.182.374.31.098.128.174.28.225.453.046.158.072.324.076.496h-2.567c.053-.425.187-.76.398-1%20.218-.25.538-.375.952-.375M20.092%2022.404l.048-.008v-7.889l-.048-.008c-.08-.016-.17-.027-.267-.034-.098-.007-.187-.01-.265-.01-.078%200-.165.003-.264.01-.097.007-.187.018-.267.033l-.048.007v7.89l.048.007c.08.015.17.026.266.033.1.007.188.01.265.01.08%200%20.166-.003.266-.01.097-.007.187-.018.266-.033%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: calc(93% * 3 / 4);
}

.pace .pace-activity {
  font-size: 15px;
  line-height: 1;
  z-index: 2000;
  position: absolute;
  height: 110px;
  width: 180px;

  display: block;
  -webkit-animation: pace-theme-center-atom-spin 2s linear infinite;
  -moz-animation: pace-theme-center-atom-spin 2s linear infinite;
  -o-animation: pace-theme-center-atom-spin 2s linear infinite;
  animation: pace-theme-center-atom-spin 2s linear infinite;
}

.pace .pace-activity {
  border-radius: 50%;
  border: 5px solid #29d;
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 110px;
  width: 180px;
}

.pace .pace-activity:after {
  border-radius: 50%;
  border: 5px solid #29d;
  content: ' ';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  height: 110px;
  width: 180px;

  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

.pace .pace-activity:before {
  border-radius: 50%;
  border: 5px solid #29d;
  content: ' ';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  height: 110px;
  width: 180px;

  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}

@-webkit-keyframes pace-theme-center-atom-spin {
  0%   { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(359deg) }
}
@-moz-keyframes pace-theme-center-atom-spin {
  0%   { -moz-transform: rotate(0deg) }
  100% { -moz-transform: rotate(359deg) }
}
@-o-keyframes pace-theme-center-atom-spin {
  0%   { -o-transform: rotate(0deg) }
  100% { -o-transform: rotate(359deg) }
}
@keyframes pace-theme-center-atom-spin {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(359deg) }
}